* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* end of template  */

.gray {
    color: gray;
}

.navbar-nav > .nav-item > .nav-link {
    /* padding-bottom: 40px; */
    width: 100%;
}

.nav-link:hover {
    color: black;
}



/* Begin of Burger */

h5:hover {
    color: white;
}





/* Begin of Website's nav */
.main-header > .nav {
    background: black;
    width: 100%; /* если не указать width в 1000 px, то чёрная полоса будет выезжать за границу картинки */
}

.main-header > .nav > .nav-item > .nav-link {
    color: gray;
    text-decoration: none;
    background: black;
}

.main-header > .nav > .nav-item > .nav-link:hover {
    color: white;
}

#tops {
    color: white;
}

/* start of assignment */

.grid-element-0 {
    grid-area: zero;
    background-image: url('../img/heroes.jpg');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    
}

.grid-element-1 {
    grid-area: one;
    width: 100%;
    height: 300px;
    background-image: url('../img/handbag1.jpg');
    background-repeat: no-repeat;
    align-content: end; /* not visible effect on mobile */
}

.grid-element-2 {
    grid-area: two;
    width: 100%;
    height: 300px;
    background-image: url('../img/breitling.jpg');
    background-repeat: no-repeat;
    align-content: end; /* not visible effect on mobile */
}

.grid-element-3 {
    grid-area: three;
    width: 100%;
    height: 300px;
    background-image: url('../img/shoes2.jpg');
    background-repeat: no-repeat;
    align-content: end; /* not visible effect on mobile */

}

/* end of assignment */

.grid-container { 
    display: grid;
    grid-template-areas: "zero"
                         "one" 
                         "two" 
                         "three";
    gap: 50px;
    /* row-gap: 50px; */
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

.img-title:hover {
    text-decoration: underline;
    color: white;
}

.row-one {
    display: flex;
    flex-direction: column;
}

.row-one, .row{
    gap: 20px;
    
}

.row-one > div > .img-title {
    color: white;
    font-size: 30px;
}

.row > div > .img-description {
    color: black;
}

#container-1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
}

#container-2 {
    display: grid;
    padding: 20px;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
}

.d-flex {
    justify-content: center;
}

.card-price {
    color: brown;
}

.card-old-price {
    padding-left: 10px;
    color: gray;
}

.card-text:hover {
    text-decoration: underline;
}


/* Assignment */


.card-1 {
    grid-area: card-1;
}
.card-2 {
    grid-area: card-2;
}
.card-3 {
    grid-area: card-3;
}
.card-4 {
    grid-area: card-4;
}
.card-5 {
    grid-area: card-5;
}
.card-6 {
    grid-area: card-6;
}
.card-7 {
    grid-area: card-7;
}
.card-8 {
    grid-area: card-8;
}


/* Lower part of website */
.low-list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


.information {
    grid-area: information;
}
.customer-service {
    grid-area: customer-service;
}
.extras {
    grid-area: extras;
}
.my-account {
    grid-area: my-account;
}
.copyright {
    grid-area: copyright;
}
.fifth {
    margin-top: 20px;
}                 

.sixth {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "information customer-service extras my-account"; 
}

.sixth > div > ul > li {
    color: gray;
    padding: 5px 0;
    margin: 5px 0;

}

.sixth > div > ul > li:hover {
    color: black;
    
}

.hours {
    color: gray;
    padding-bottom: 10px;
}

.copyright {
    width: 100%;
    background: black;
    color: white;
    margin-top: 20px;
}



/* Mobile burger module */
@media (max-width: 768px) {
    .main-header > .nav {
        background: black;
        width: 100%; /* если не указать width в 1000 px, то чёрная полоса будет выезжать за границу картинки */
        display: none;
    }
    
    #main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: "card-1"
                             "card-2"
                             "card-3"
                             "card-4"
                             "card-5"
                             "card-6"
                             "card-7"
                             "card-8";
        gap: 20px;
        padding: 20px;                 
    }
    .sixth {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "information" 
                             "customer-service"
                             "extras" 
                             "my-account"; 
        text-align: center;
    }
    



}



@media (min-width: 768px) {

    .row-one {
        display: grid;
        grid-template-areas: "zero zero zero"
                             "one two three";
        gap: 50px;
        /* row-gap: 50px; */
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    } 
   
    /*Burger's hiding */
    .bg-black {
        display:none; 
    }

    #main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        /* grid-template-areas: "card-1"
                             "card-2"
                             "card-3"
                             "card-4"
                             "card-5"
                             "card-6"
                             "card-7"
                             "card-8"; */
        gap: 20px;
        }
}
